@import "tailwindcss";
@import "./typography.css";
@config "../../tailwind.config";

/* @variant dark
  (@media ((prefers-color-scheme: dark) and &: not(.light *)) or &: is(.dark *)); */

@theme {
  --default-font-family: NewGrotesk;
  --color-*: initial;
  --color-brand-primary-300: #f8aa86;
  --color-brand-primary-400: #fa8955;
  --color-brand-primary-500: #f26722;
  --color-brand-primary-600: #d25c21;
  --color-brand-primary-700: #884529;
  --color-neutrals-800: #333d46;
  --color-neutrals-500: #7c8b9c;
  --color-neutrals-300: #b5c0cc;
  --color-neutrals-050: #f7f9fa;
  --color-neutrals-001: #ffffff;
  --color-light-text-default: var(--color-neutrals-800);
  --color-light-text-reverse: var(--color-neutrals-050);
  --color-light-layout-border-strong: var(--color-neutrals-300);
  --color-light-layout-background-strong-component: var(--color-neutrals-001);
  --color-dark-text-default: #d3dce2;
  --color-dark-text-reverse: #1e242a;
  --spacing-*: initial;
  --spacing-8: 8px;
  --spacing-24: 24px;
  --spacing-20: 20px;
  /* --spacing-40: 40px; */
  --height-button: 40px;
  --height-app-bar: 64px;
}
